.container {
  display: flex;
  gap: 0 3rem;
  align-items: left;
  margin: 0 75px;
  padding: 0 3rem;
}

.textContainer {
  width: 50%;
}

.title {
  display: flex;
  align-items: center;
}

.description {
  font-size: 1.2rem;
}

.iconContainer {
  display: flex;
  font-size: 1.5rem;
  margin-left: 2rem;
}

.icon {
  margin: 0 0.5rem;
  vertical-align: -3px;
  color: #000;
  cursor: pointer;
}

.iconTool {
  margin-top: 2rem;
  font-size: 1.3rem;
  letter-spacing: 1rem;
}

@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
    padding: 0 1rem;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .textContainer {
    width: 100%;
  }
  .iconTool {
    margin-bottom: 75px;
  }
}
@media screen and (max-width: 640px) {
  .container {
    margin-left: 25px;
    margin-right: 25px;
  }
  .title {
    align-items: flex-start;
    flex-direction: column;
    margin-right: auto;
  }
  .iconContainer {
    margin-left: 0;
  }
}
