.container {
  display: flex;
  align-items: center;
  margin: 0 75px;
  padding: 0 1.5rem 0 3rem;
}

.greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding-right: 3.5rem;
  margin: 0 auto;
  width: 80%;
}

.greetingText {
  margin-right: auto;
  font-size: 3rem;
}

.image {
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 75px 0 30px;
    margin: auto 20px;
    flex-flow: column;
    height: 100vh;
    /* スマホで上が詰まる */
    justify-content: center;
  }
  .greeting {
    padding-right: 0;
  }
  .greetingText {
    font-size: 2.5rem;
  }
  .imageContainer {
    margin-top: 50px;
    text-align: center;
  }
}

@media screen and (max-width: 640px) {
  .greetingText {
    font-size: 1.8rem;
  }
  .image {
    width: 150px;
    height: 150px;
  }
}
